---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Default from "../layouts/Default.astro";

export const getStaticPaths = (async () => {
    const blog = await getCollection("blog");
    const notes = await getCollection("notes");
    const posts = await getCollection("posts");

    const pages = [...blog, ...notes, ...posts];
    return pages.map(page => {
        return {
            params: { slug: `/${page.collection}/${page.slug}` },
            props: { title: `${page.collection} - ${"title" in page.data && page.data.title ? page.data.title : page.id.replace(/\.[^/\\.]*$/, "")}`, page },
        };
    });
}) satisfies GetStaticPaths;

const { page, title } = Astro.props;

const { Content } = await page.render();
const description = page.body.slice(0, 99) + "…";

const meta = {
    title, 
    description,
    ogTitle: title,
    ogDescription: description,
    ogType: "website",
    ogUrl: "https://vinxis.moe",
    ogSiteName: title,
    ogLocale: "en_US",
    ogImage: "https://vinxis.moe/metaImage.png",
    twitterCard: "summary_large_image",
    twitterTitle: title,
    twitterDescription: description,
    twitterImage: "https://vinxis.moe/metaImage.png",
};
---
<link href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" rel="stylesheet">
<Default meta={meta}>
    <div class="page post-page">
        <h1>{title}</h1>
        <Content />
    </div>
</Default>

<style>
    .post-page h1 {
        text-transform: capitalize;
    }
</style>